<div class="grid">
  <div class="col-8">
    <chart-display-component
      [flightData$]="flightData$"
    ></chart-display-component>
  </div>
  <div class="col-4">
    <div class="grid">
      <div class="col-6">
        <div>Start radar</div>
        <div>
          <p-toggleButton
            onLabel="On"
            offLabel="Off"
            (onChange)="toggleRadar($event.checked!)"
          />
        </div>
      </div>
      <div class="col-6">
        <div>EMPAR radar</div>
        <div>
          <p-toggleButton
            onLabel="On"
            offLabel="Off"
            (onChange)="toggleEMPAR($event.checked!)"
          />
        </div>
      </div>
      <div class="col-6">
        <div>Arm SAM</div>
        <div>
          <p-toggleButton
            #armSamValue
            onLabel="On"
            offLabel="Off"
            (onChange)="armSAM($event.checked!)"
          />
        </div>
      </div>
      <div *ngIf="armSamValue.checked" class="col-6">
        <div>Fire SAM</div>
        <div>
          <p-button
            label="HASTA LA VISTA"
            (onClick)="fireSAM()"
            severity="danger"
          />
        </div>
      </div>
    </div>
  </div>
</div>
